In [1]:
# import h5py
from allennlp.modules.elmo import Elmo, batch_to_ids
# from allennlp.commands.elmo import ElmoEmbedder
import pandas as pd
import nltk

In [2]:
# Initialize Elmo
options_file = "https://s3-us-west-2.amazonaws.com/allennlp/models/elmo/2x4096_512_2048cnn_2xhighway/elmo_2x4096_512_2048cnn_2xhighway_options.json"
weight_file = "https://s3-us-west-2.amazonaws.com/allennlp/models/elmo/2x4096_512_2048cnn_2xhighway/elmo_2x4096_512_2048cnn_2xhighway_weights.hdf5"

elmo = Elmo(options_file, weight_file, 1, dropout=0)

In [3]:
data = pd.read_json('spider_train_subset.json').T
data.head()

,eng,sql,table
0,How many heads of the departments are older th...,SELECT count(*) FROM head WHERE age > 56,department_management
1,"List the name, born state and age of the heads...","SELECT name , born_state , age FROM head ORD...",department_management
2,"List the creation year, name and budget of eac...","SELECT creation , name , budget_in_billions ...",department_management
3,What are the maximum and minimum budget of the...,"SELECT max(budget_in_billions) , min(budget_i...",department_management
4,What is the average number of employees of the...,SELECT avg(num_employees) FROM department WHER...,department_management

In [9]:
#tokenizing sentences
# nltk.download('punkt')
sentences = []
for row in data.iterrows():
    tok = nltk.word_tokenize(row[1][0])
    sentences.append(tok)
#     break
# sentences

In [ ]:
len(sentences)

In [ ]:
# sentences = [['Hello', 'World', 'my','name','is']]
character_ids = batch_to_ids(sentences)

embeddings = elmo(character_ids)

In [ ]:
embeddings['elmo_representations']

In [8]:
len(embeddings['elmo_representations'][0][0][0])

1024

In [1]:
embeddings

NameError: name 'embeddings' is not defined